<div class="aditional-coverage-options" *ngIf="aditionalCoverageOptions.length > 0">
  <p class="ion-margin-bottom">Este producto ofrece opciones de cobertura adicionales.</p>

  <ion-list>
    <ion-item *ngFor="let option of aditionalCoverageOptions" (click)="onOptionClicked($event, checkbox)">
      <ion-checkbox
        #checkbox
        mode="md"
        slot="start"
        color="primary"
        [checked]="option.selected"
        (ionChange)="onOptionClicked($event, checkbox)">
      </ion-checkbox>
      <ion-icon [name]="option.icon" slot="start"></ion-icon>
      <span>{{ option.label }}</span>
    </ion-item>
  </ion-list>

  <hr>
</div>
