.renewal-background-header{
  background-color: #F7F7F9;
  padding-block: 2rem;
  padding-inline: 1.85rem;
  .renewal-toolbar{
    --background	: transparent;
  }
}
.renewal-quote-title--wrapper {
  position: relative;
  background-image: linear-gradient(45deg, #EBEEF2, #EBEEF2);
  background-size: 100% 2px;
  background-repeat: repeat-x;
  background-position: bottom;
  margin-block-end: 2.28rem;

  h3.renewal-quote-title {
    color: var(--san-color-secondary-25);
    font-size: 1.15rem;
    display: inline-flex;
    margin: 0;
    height: 3.5rem;
    justify-content: center;
    border-bottom: 2px solid currentColor; /* Borde inferior del color del texto */
  }
}
::ng-deep ion-select-popover ion-radio::part(label){
  white-space: pre-wrap;
}
::ng-deep .renewal-disabled-insured--section{
  app-renewal-insured-person{
    .insured-people--title h3, app-bupa-field-output ion-label{
      opacity: 0.5;
      color: var(--ion-color-medium);
    }
    .insured-people{
      background-color: var(--ion-color-light-tint);
      &:hover{
        background-color: var(--ion-color-light-tint);
      }
    }
  }
}

::ng-deep app-renewal-insured-person{
  .new-person{
    border-inline-start:3px solid rgba(var(--ion-color-primary-rgb, 0, 84, 233), 0.5);
    background-color: rgba(var(--ion-color-primary-rgb, 0, 84, 233), 0.15);
  }
}

.renewal-cost-ctas--section{
  ion-row ion-col{
    padding-inline: 1.5rem;
  }
  @media (min-width: 768px) {
    ion-row ion-col:nth-child(2){
      &::after,&::before{
        content: ' ';
        display: block;
        width: 1px;
        height:100%;
        position: absolute;
        top: 0;
        background-color: #4E5357;
      }
      &::after{
        right: 0;
      }
      &::before{
        left: 0;
      }
    }
  }
  p{
    margin-block: 8px;
  }
  .renewal-cost-ctas--section-total{
    font-size:1.3rem;
  }
}
  ion-modal.modalSheet {
    --height: auto;
  }

