<ion-content id="main-content" class="main-content-renewal">
  <ion-grid fixed="true">
    <section class="renewal-background-header">
      <ion-toolbar class="renewal-toolbar">
        <!-- Botón de volver alineado a la izquierda -->
        <ion-buttons slot="start" color="primary">
          <ion-back-button defaultHref="/"></ion-back-button>
        </ion-buttons>
        <ion-title class="san-color-primary">Cotización de seguro médico internacional</ion-title>
      </ion-toolbar>
        <ion-row>
          <ion-col size="12" sizeMd="3" class="order-1">
            <ion-chip color="success">Active</ion-chip>
            <p>Póliza efectiva hasta febrero 28, 2024</p>
          </ion-col>
          <ion-col size="12" sizeMd="9">
            <ion-row>
              <ion-col size="12" sizeSm="6" sizeMd="4">
                <app-bupa-field-output
                  label="Próxima prima anual"
                  [value]="[renewalData.annualPremium]"
                  [fieldStyle]="['strong', 'primary']"
                  [infoText]="'Hola mundo'">
                </app-bupa-field-output>
              </ion-col>
              <ion-col size="12" sizeSm="6" sizeMd="6">
                <app-bupa-field-output
                  label="Próximos deducibles"
                  [fieldStyle]="['strong']"
                  [value]="[renewalData.deductibles.outsideCountry, renewalData.deductibles.insideCountry]">
                </app-bupa-field-output>
              </ion-col>
              <ion-col size="12" sizeSm="6" sizeMd="4">
                <app-bupa-field-output
                  [infoText]="'Lo que quiero eres tú'"
                  label="Agente"
                  [value]="[renewalData.agent]"
                  [fieldStyle]="['strong']">
                </app-bupa-field-output>
              </ion-col>
              <ion-col size="12" sizeSm="6" sizeMd="4">
                <app-bupa-field-output
                  [infoText]="'AMPLIACIÓN Y TERMINACIÓN DE COBERTURA: La cobertura está disponible para los hijos dependientes del Asegurado Titular hasta antes de cumplir los veinticuatro (24) años, si son solteros en el momento que la póliza es emitida o renovada. La cobertura para dichos dependientes continúa hasta la siguiente fecha de aniversario de la póliza o la siguiente fecha de vencimiento de pago, la que ocurra primero, después de cumplir los veinticuatro (24) años de edad, si son solteros.'"
                  label="Próximo plan"
                  [value]="[renewalData.nextPlan]">
                </app-bupa-field-output>
              </ion-col>
              <ion-col size="12" sizeSm="6" sizeMd="4"
                >
                <app-bupa-field-output
                  label="País"
                  [value]="[renewalData.country]">
                </app-bupa-field-output>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
    </section>
    <section class="renewal-options--section ion-flex-column ion-margin-bottom ion-display-flex">
      <ion-row>
        <ion-col size="12">
          <div class="renewal-quote-title--wrapper tabs-aspect--wrapper ion-align-items-center ion-display-flex">
            <h3 class="renewal-quote-title tabs-aspect ion-align-items-center ion-padding-horizontal">Cotiza tu renovación
              <span class="custom-tooltip" data-tooltip-position="right" data-tooltip-max-width="150px" data-tooltip="Haz realizado cambios que no están guardados"><ion-icon *ngIf="quoteIsDiffPolice" size="large" slot="icon-only" color="danger" name="information-circle-outline" class="ion-margin-start" ></ion-icon></span>
            </h3>
          </div>
        </ion-col>
      </ion-row>
      <ion-row class="renewal-options--row ion-justify-content-between">
        <ion-col class="ion-no-padding order-1 order-lg-0" size="12" sizeMd="9">
          <ion-row>
            <ion-col size="12" sizeMd="">
              <ion-select interface="popover" mode="md" #deductibleMount
                label="Opciones de deducible"
                label-placement="floating" fill="outline">
                <ion-select-option *ngFor="let option of plans" [value]="option.planId">
                  <div class="plan-id">Plan ID: {{ option.planId }}</div>
                  <div class="sub-options">
                    <div *ngFor="let subOption of option.deductibleMount" class="sub-option">
                      {{ subOption }}
                    </div>
                  </div>
                </ion-select-option>
              </ion-select>
            </ion-col>
            <ion-col size="12" sizeMd="">
              <ion-select interface="popover" mode="md" #paymentWay
          label="Forma de pago" label-placement="floating" fill="outline">
          <ion-select-option value="anual">Anual</ion-select-option>
        </ion-select>
            </ion-col>
          </ion-row>
        </ion-col>
        <ion-col size="12" sizeMd="auto">
          <ion-button id="add-insured" mode="ios" fill="outline" color="primary">
            <ion-icon name="add-circle" class="ion-margin-end"></ion-icon>
            Cotizar dependiente
          </ion-button>
          <ion-modal #modal style="--height: auto; --background: transparent; --width:290px" trigger="add-insured" [canDismiss]="true">
            <ng-template>
              <app-insured-business-card
                [actionButtonText]="'Agregar'"
                [persona]="{persona:'Asegurado'}"
                [showRelationship]="true"
                [relationshipOptions]="relationshipOptions"
                [showName]="true"
                [showLastName]="true"
                (actionButtonTriggered)="addNewInsured()"
              ></app-insured-business-card>
            </ng-template>
          </ion-modal>
        </ion-col>
      </ion-row>
    </section>

    <section #renewalInsuredSection class="renewal-insured--section ion-padding-bottom ion-margin-bottom">
      <app-renewal-insured-person
        (togglePersonStatus)="toggleInsuredPerson($event)"
        *ngFor="let person of activeInsuredPeople; let i = index"
        [insuredPersonData]="person">
      </app-renewal-insured-person>
    </section>

    <section *ngIf="disabledInsuredPeople.length > 0" class="renewal-disabled-insured--section ion-padding-bottom ion-margin-bottom">
      <h3 class="ion-margin-vertical">Dependiente(s) no incluido(s) en la cotización</h3>
      <app-renewal-insured-person
        (togglePersonStatus)="confirmToggle(person)"
        *ngFor="let person of disabledInsuredPeople; let i = index"
        [insuredPersonData]="person"
        [index]="i"
        >
      </app-renewal-insured-person>
    </section>

    <section class="renewal-cost-ctas--section ion-padding-bottom ion-margin-bottom">
      <h3 class="ion-margin-vertical">{{ costosCTAsData.titulo }}</h3>
      <ion-row class="ion-justify-content-center ion-align-items-center gap-3">
        <ion-col size="12" sizeSm="12" sizeMd="3">
          <p>{{ costosCTAsData.columnas.subtotal[0].label }}: <strong>{{ costosCTAsData.columnas.subtotal[0].valor }}</strong></p>
          <p>{{ costosCTAsData.columnas.subtotal[1].label }}: {{ costosCTAsData.columnas.subtotal[1].valor }}</p>
          <p>{{ costosCTAsData.columnas.subtotal[2].label }}: {{ costosCTAsData.columnas.subtotal[2].valor }}</p>
        </ion-col>
        <ion-col size="12" sizeSm="12" sizeMd="auto">
          <p>{{ costosCTAsData.columnas.discounts[0].label  }}: {{ costosCTAsData.columnas.discounts[0].valor }}</p>
          <p>{{ costosCTAsData.columnas.discounts[1].label }}: {{ costosCTAsData.columnas.discounts[1].valor }}</p>
          <p>{{ costosCTAsData.columnas.discounts[2].label }}: {{ costosCTAsData.columnas.discounts[2].valor }}</p>
        </ion-col>
        <ion-col size="12" sizeSm="12" sizeMd="3">
          <p class="san-color-secondary-25 renewal-cost-ctas--section-total"><strong>{{ costosCTAsData.columnas.totals.items[0].label }}: {{ costosCTAsData.columnas.totals.items[0].valor }}</strong></p>
          <p>{{ costosCTAsData.columnas.totals.items[1].label }}: {{ costosCTAsData.columnas.totals.items[1].valor }}</p>
          <p>{{ costosCTAsData.columnas.totals.items[2].label }}: {{ costosCTAsData.columnas.totals.items[2].valor }}</p>
          <p class="nota"><strong class="san-color-secondary-25">Nota:</strong> {{ costosCTAsData.columnas.totals.nota }}</p>
        </ion-col>
      </ion-row>
    </section>

  </ion-grid>
<ion-toast #toast mode="ios" message="Hay cambios pendientes de guardar." duration="2000" color="medium" position="top" icon="information-circle-outline"></ion-toast>
</ion-content>
<ion-modal #modalSheet trigger="open-modal-sheet" class="modalSheet" mode="ios" [initialBreakpoint]="initialBreakpoint" [breakpoints]="breakpoints">
  <ng-template>
    <ion-header class="ion-no-border">
      <ion-toolbar>
        <ion-title>Eliminar asegurado</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="modalSheet.dismiss()" class="btn-toogle" aria-label="Cerrar formulario de confirmación"><ion-icon color="primary" size="large" aria-hidden="true" name="close-outline"></ion-icon></ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <div class="ion-padding">
      <p>Por favor recuerda que el valor aquí mostrado es para efecto de tu cotización, para eliminar un miembro de tú póliza debes solicitar un cambio de póliza</p>
      <ion-button mode="ios" expand="block" (click)="confirmToggle(this.selectedPerson)">Confirmar</ion-button>
    </div>
  </ng-template>
</ion-modal>
<app-button-actions></app-button-actions>
