<ion-card mode="ios" color="primary" class="insured-data-card ion-no-margin">
  <ion-card-header class="insured-data-card-header">
    <ion-card-title>
      <div class="ion-display-flex ion-justify-content-start ion-align-items-center">
        <ion-badge *ngIf="insuredLength > 1" mode="ios" color="light">{{ idNumber + 1 }}</ion-badge>
        <span class="ion-padding-horizontal">{{ persona.persona }}</span>
      </div>
    </ion-card-title>

    <!-- Condicional para mostrar el botón de eliminar solo si el @Input removeCard es true -->
    <ion-button *ngIf="removeCard && insuredLength > 2 && idNumber > 0" color="light" fill="clear"
      (click)="onRemoveCard(idNumber)" class="insured-data-card-header-close-button">
      <ion-icon slot="icon-only" name="close-outline"></ion-icon>
    </ion-button>
  </ion-card-header>

  <ion-card-content class="ion-padding-top">
    <ion-row>
      <ion-col size="12"><ion-label>Fecha de nacimiento</ion-label></ion-col>
      <ion-col>
        <ion-input type="date" *ngIf="!isMobile" placeholder="Hola"></ion-input>
      </ion-col>
      <ion-col size="12">
        <ion-datetime-button *ngIf="isMobile" #birthdayButton_{{idNumber}} id="birthdayButton_{{idNumber}}" mode="ios"
          datetime="birthdate-persona-{{idNumber}}">
          <ion-item class="ion-no-padding" lines="none" slot="date-target">
            <ion-icon name="calendar-outline" slot="end"></ion-icon>
            <span class="formatedDate">{{ selectedBirthDate ? selectedBirthDate : 'Selecciona una fecha' }}</span>
          </ion-item>
        </ion-datetime-button>
        <ion-modal [keepContentsMounted]="true">
          <ng-template>
            <ion-datetime [showDefaultButtons]="true" doneText="Confirmar" #birthday_{{idNumber}} required
              presentation="date"
              [formatOptions]="{ date: {year: 'numeric', weekday: 'short', month: 'short', day: '2-digit'}}"
              id="birthdate-persona-{{idNumber}}" (ionChange)="onBirthDateChange($event)">
            </ion-datetime>
          </ng-template>
        </ion-modal>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="showName">
      <ion-col size="12"><ion-label>Nombres</ion-label></ion-col>
      <ion-col size="12">
        <ion-input
          mode="md"
          fill="outline"
          [(ngModel)]="selectedName"
          (ionChange)="onNameChange($event)">
        </ion-input>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="showLastName">
      <ion-col size="12"><ion-label>Apellidos</ion-label></ion-col>
      <ion-col size="12">
        <ion-input
          mode="md"
          fill="outline"
          [(ngModel)]="selectedLastName"
          (ionChange)="onLastNameChange($event)">
        </ion-input>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="this.showRelationship">
      <ion-col size="12"><ion-label>Parentesco</ion-label></ion-col>
      <ion-col size="12">
        <ion-select mode="md" interface="popover" #relationshipSelect aria-label="Select Relationship" label-placement="stacked"
          [value]="relationshipOptions.length > 0 ? relationshipOptions[0].value : ''"
          fill="outline">
          <ion-select-option *ngFor="let option of relationshipOptions" [value]="option.value">{{ option.label
            }}</ion-select-option>
        </ion-select>
      </ion-col>
    </ion-row>
    <ion-footer *ngIf="actionButtonText" class="ion-justify-content-center ion-display-flex ion-padding-top">
      <ion-button (click)="triggerAction()">{{actionButtonText}}</ion-button>
    </ion-footer>
  </ion-card-content>
</ion-card>
