<article class="insured-people  renewal-insured--section-{{ insuredPersonData.title|lowercase }}" [ngClass]="{'new-person':!insuredPersonData.details.inPolice}">
  <ion-row>
    <ion-col class="insured-people--title ion-no-padding-bottom ion-align-items-center ion-display-flex ion-justify-content-between">
      <div class="ion-display-flex ion-align-items-center"><h3>{{ insuredPersonData.title }} <ion-badge class="" *ngIf="!insuredPersonData.details.inPolice">New</ion-badge></h3> <div *ngIf="insuredPersonData.details.isOverDate" class="is-over-date--message san-color-secondary-25 ion-display-flex ion-align-items-center ion-margin-start"><ion-icon size="large" name="information-circle-outline"></ion-icon> <p>Dependiente de 24 años.</p> </div></div>
      <ng-container *ngIf="insuredPersonData.details.enabledInQuote; else restoreIcon">
        <ion-button data-tooltip-position="left" data-tooltip="Quitar de la cotización" *ngIf="!isTitular()" fill="clear" shape="round" mode="ios" class="custom-tooltip renewal-insured-section--remove-insured ion-float-right" (click)="onToggleStatus()">
          <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
        </ion-button>
      </ng-container>

      <ng-template #restoreIcon>
        <ion-button *ngIf="!insuredPersonData.details.isOverDate" data-tooltip-position="left" data-tooltip="Incluir en la cotización" fill="clear" shape="round" mode="ios" class="custom-tooltip renewal-insured-section--remove-insured ion-float-right" (click)="onToggleStatus()">
          <ion-icon slot="icon-only" name="swap-vertical-outline"></ion-icon>
        </ion-button>
        <ion-button *ngIf="insuredPersonData.details.isOverDate" data-tooltip-position="left" data-tooltip="Cotizar nueva póliza" fill="outline" mode="ios" class="custom-tooltip renewal-insured-section--new-police ion-float-right" (click)="navigate('business-plans', 'renewal')">
          Cotizar póliza
        </ion-button>
      </ng-template>
    </ion-col>
  </ion-row>
  <ion-row class="renewal-titular--row">
    <ion-col size="12" sizeSm="6" sizeMd="3">
      <app-bupa-field-output [label]="insuredPersonData.details.typeLabel" [value]="[insuredPersonData.details.typeValue]" [fieldStyle]="['strong']"></app-bupa-field-output>
    </ion-col>
    <ion-col size="12" sizeSm="6" sizeMd="3">
      <app-bupa-field-output [label]="insuredPersonData.details.birthDateLabel" [value]="[insuredPersonData.details.birthDateValue]" [fieldStyle]="['strong']"></app-bupa-field-output>
    </ion-col>
    <ion-col size="12" sizeSm="6" sizeMd="3">
      <app-bupa-field-output [label]="insuredPersonData.details.rateLabel" [value]="[insuredPersonData.details.rateValue]" [fieldStyle]="['strong','san-color-secondary-25']"></app-bupa-field-output>
    </ion-col>
    <ion-col size="12" sizeSm="6" sizeMd="3">
      <app-bupa-field-output [label]="insuredPersonData.details.extraPremiumLabel" [value]="[insuredPersonData.details.extraPremiumValue]" [fieldStyle]="['strong','san-color-secondary-25']"></app-bupa-field-output>
    </ion-col>
  </ion-row>
  <ion-item-divider></ion-item-divider>
</article>
