{{slideConfig|json}}

<swiper-container #swiper [config]="slideConfig">

  <swiper-slide [slidesPerView]="3" class="insured-data-slide" *ngFor="let persona of insured; let i = index" [ngClass]="{'insured-data-slide-titular': i === 0}">
    <app-insured-business-card
      [persona]="persona"
      [idNumber]="i"
      [insuredLength]="insured.length"
      [selectedBirthDate]="selectedBirthDate[i]"
      [relationshipOptions]="relationshipOptions"
      [removeCardButton]="showRemoveButton && i !== 0"
      (birthDateChange)="onBirthDateChange($event)"
      (removeCard)="onRemoveSlide($event)"
    ></app-insured-business-card>
  </swiper-slide>
</swiper-container>
