{{slideConfig|json}}
<swiper-container #swiper [mousewheel]="true" [centeredSlides]="insured.length === 1" [grabCursor]="slideConfig.grabCursor" [effect]="slideConfig.effect" [slidesPerView]="slideConfig.slidesPerView" [spaceBetween]="slideConfig.spaceBetween" [loop]="slideConfig.loop" [ngClass]="{'swiper-pager-active':slideConfig.pagination}">

  <swiper-slide class="insured-data-slide" *ngFor="let persona of insured; let i = index">
    <app-insured-business-card
      [persona]="persona"
      [idNumber]="i"
      [insuredLength]="insured.length"
      [selectedBirthDate]="selectedBirthDate[i]"
      [relationshipOptions]="relationshipOptions"
      [removeCardButton]="showRemoveButton && i !== 0"
      (birthDateChange)="onBirthDateChange($event)"
      (removeCard)="onRemoveSlide($event)"
    ></app-insured-business-card>
  </swiper-slide>
</swiper-container>
