swiper-container {
  swiper-slide {
    width: 296px;

    &:not(:first-child) {
      ::ng-deep .insured-data-card-header {
        background-color: #0D1846;
      }
      ::ng-deep ion-card-content {
        background-color: #0079C8;
      }
    }
  }
}
