<ion-header *ngIf="1 > 0">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>

    <ion-title>
      International business quote {{'usuario: '+this.policeCase|json}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed>
    <h1 class="police-quote-title">International business quote</h1>
    <h2 class="calculate-insurance-price-subtitle">Calculate your insurance price</h2>
    <ion-row class="police-quote-filter">
      <ion-col [sizeMd]="6" sizeLg="3">
        <ion-select interface="popover" (ionChange)="onWhoToInsureChange($event)" mode="md" value="individual" #whoToInsureSelect
          label="¿A quién quieres asegurar?" label-placement="floating" fill="outline">
          <ion-select-option *ngFor="let option of whoToInsureOptions" [value]="option.value">{{ option.label
            }}</ion-select-option>
        </ion-select>
      </ion-col>

      <ion-col [sizeMd]="6" sizeLg="3" *ngIf="!insuranceScenariosService.isPmiEcuador()">
        <ion-select interface="popover" mode="md" #countrySelect label="Selecciona el país" label-placement="floating" fill="outline">
          <ion-select-option *ngFor="let option of countryOptions" [value]="option.value">{{ option.label
            }}</ion-select-option>
        </ion-select>
      </ion-col>

      <ion-col size="12" [sizeMd]="6" sizeLg="3">
        <ion-select interface="popover" mode="md" #productTypeSelect
          label="Selecciona el tipo de producto {{this.updateProductOptions|json}}"
          (ionChange)="onProductTypeChange($event)" label-placement="floating" fill="outline">
          <ion-select-option *ngFor="let option of productTypeOptions" [value]="option.value">{{ option.label
            }}</ion-select-option>
        </ion-select>
      </ion-col>

      <ion-col *ngIf="shouldShowProductSelect()" size="12" [sizeMd]="6" sizeLg="3">
        <ion-select interface="popover" mode="md" #productSelect label="Selecciona el producto" label-placement="floating" fill="outline"
          [disabled]="availableProducts.length === 0">
          <ion-select-option *ngFor="let product of availableProducts" [value]="product.value">{{ product.label
            }}</ion-select-option>
        </ion-select>
      </ion-col>
    </ion-row>

    <h2 class="ion-text-center insured-data-title">Datos del asegurado</h2>
    <section class="ion-justify-content-center">
      <ion-row class="ion-justify-content-end">
        <ion-col size="auto" *ngIf="showAddSlideButton">

          <ion-button (click)="addSlide()" mode="ios">
            <ion-icon name="add"></ion-icon>
            <ion-label >Añadir asegurado</ion-label>
          </ion-button>

        </ion-col>
      </ion-row>
      <ion-row class="ion-justify-content-center ion-nowrap ">
        <ion-col>
          <swiper-container #swiper [mousewheel]="true" centeredSlides="auto" [grabCursor]="swiperConfig.grabCursor" [effect]="swiperConfig.effect" [slidesPerView]="swiperConfig.slidesPerView" [spaceBetween]="swiperConfig.spaceBetween" [loop]="swiperConfig.loop" [ngClass]="{'swiper-pager-active':swiperConfig.pagination, 'part-wraper-centered':insuredData.length < 3}">
            <swiper-slide class="insured-data-slide" *ngFor="let persona of insuredData; let i = index">
              <app-insured-business-card
                [persona]="persona"
                [idNumber]="i"
                [insuredLength]="insuredData.length"
                [showRelationship]="i !== 0"
                [relationshipOptions]="relationshipOptions"
                [removeCardButton]="showRemoveButton && i !== 0"
                (cardDataChange)="onCardDataChange($event)"
                (removeCard)="removeSlide($event)"
              ></app-insured-business-card>
            </swiper-slide>
          </swiper-container>
          {{swiper.addEventListener|json}}
        </ion-col>
      </ion-row>
    </section>
  </ion-grid>
</ion-content>
<ion-footer class="ion-padding">
  <ion-row class="ion-justify-content-center">
    <ion-button [disabled]="(this.insuredData.length < 2 && this.showAddSlideButton)"
      [color]="(this.insuredData.length < 2 && this.showAddSlideButton) ? 'medium' : 'primary'" mode="ios"
      (click)="navigateToPlans()">
      {{ (this.insuredData.length < 2 && this.showAddSlideButton) ? 'Debe llenar otra tarjeta para calcular'
        : 'Calcular precio' }} </ion-button>
  </ion-row>
</ion-footer>
