@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

.insured-data-slide-titular{
  display: inline-block;
  ::ng-deep .insured-data-card-header{
  background-color: #0079C8;
  }
  ::ng-deep ion-card-content{
    background-color: #0D1846;
  }
}

.round-button {
  --border-radius: 50%;
}


