<ion-backdrop (ionBackdropTap)="toggleButtons()" class="custom-backdrop" [ngClass]="{'ion-hide': !showButtons}" aria-hidden="true" ></ion-backdrop>

<ion-footer slot="end" mode="ios" class="app-button-actions ion-padding">
  <section class="ion-display-flex ion-justify-content-between gap-3">
    <ion-button [disabled]="showButtons" mode="ios" fill="outline" class="mt-2">
      Cancelar
    </ion-button>

    <div class="app-button-actions--wrapper">
      <div class="btn-group ion-display-flex separate-active pt-2">
        <ion-button [disabled]="showButtons" #quoteSaveButton id="quoteSaveButton" class="app-button-actions--save-quote-button" mode="ios" navigate="./">
          Guardar y enviar cotización
        </ion-button>
        <ion-button mode="ios" class="btn-toogle app-button-actions--dropdown-trigger" (click)="toggleButtons()" [ngClass]="{'activated-dropdown-trigger':showButtons}">
          <ion-icon size="small" name="ellipsis-vertical"></ion-icon>
        </ion-button>
      </div>
      <div
        [ngClass]="{
          'opacity-0 movedown': !showButtons,
          'opacity-100 showedButtons': showButtons,
          'ion-hide': hideAfterTransition
        }"
        class="app-button-actions--options button-group position-absolute ion-display-flex ion-flex-column bottom-100 end-0 btns-group ion-align-items-end gap-2"
        (transitionend)="onTransitionEnd()"
      >
        <ion-button expand="none" mode="ios">Solicitar cambio de póliza <i class="icon icon-policy-change ion-margin-start"></i>
        </ion-button>
        <ion-button mode="ios">Restablecer a renovación original <i class="icon icon-quote-reset ion-margin-start"></i>
        </ion-button>
        <ion-button mode="ios">Cotizar otro producto <i class="icon icon-new-quote ion-margin-start"></i>
        </ion-button>
        <ion-button mode="ios">Descargar cotización <i class="icon icon-quote-download ion-margin-start"></i>
        </ion-button>
      </div>
    </div>
  </section>
</ion-footer>

