.icon{
  width: 24px;
  height: 24px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size:contain;
  display: inline-block;
  &.icon-quote-download{
    background-image: url('/assets/icon/download.svg');
  }
  &.icon-new-quote{
    background-image: url('/assets/icon/new-police.svg');
  }
  &.icon-quote-reset{
    background-image: url('/assets/icon/reset-quote.svg');
  }
  &.icon-policy-change{
    background-image: url('/assets/icon/police-change.svg');
  }
}
