<ion-accordion-group [class.hiddenContentCard]="!isCardContentVisible" [class.visibleContentCard]="isCardContentVisible" class="featured-medical-benefits ion-padding-horizontal">
  <ion-accordion value="first">
    <ion-item slot="header">
      <ion-label>Beneficios médicos destacados</ion-label>
    </ion-item>
    <div class="ion-padding-horizontal ion-padding-bottom ion-text-start" slot="content">
      <p *ngFor="let benefit of featuredBenefits">{{ benefit }}</p>
    </div>
  </ion-accordion>
  <hr class="ion-no-margin">
</ion-accordion-group>
