.plan-deductible-mount{
  ion-button{
    margin-top: 1rem;
    min-height: 0;
  }
}
::ng-deep .more-plan-deductible-options,
ion-modal{
  ion-card{
    --inner-overflow: visible
  }
  ion-list{
    ion-item{
      --padding-start: 0px;
      cursor: default;
      --inner-padding-start: 1rem;
      &:hover{
        color: var(--ion-color-primary)
      }
    }
  }
}
