<ion-card mode="ios" class="police-plan-card-{{planId}} ion-no-margin ion-display-flex ion-flex-column">
  <ion-card-header mode="ios">

    <ion-row class="ion-justify-content-between">
      <ion-col size="auto" class="text-start ion-no-padding">
        <!-- Botón de toggle visible solo en móviles -->
        <ion-button size="large" class="mobile-only ion-no-padding" fill="clear" slot="" (click)="toggleCardContent()">
          <ion-icon [name]="isCardContentVisible ? 'chevron-up-outline' : 'chevron-down-outline'"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col><ion-card-title *ngIf="planTitle" mode="ios"><span [innerHtml]="planTitle"></span></ion-card-title></ion-col>
      <ion-col size="auto" class="text-end ion-no-padding">
        <ion-checkbox
          #selectPolicePlanCard
          mode="md"
          *ngIf="(!this.insuranceScenariosService.isRenewal() && !this.insuranceScenariosService.isPmiEcuador())"
          id="select-police-plan-card-{{planId}}"
          (ionChange)="toastMessage = $event.detail.checked ? 'Has seleccionado el plan' : 'Quitaste el plan'; toast.present(); onCheckboxChange($event)">
          Comparar
        </ion-checkbox>
      </ion-col>
    </ion-row>
  </ion-card-header>
  <ion-card-content class="ion-no-padding-bottom" mode="ios" [ngClass]="{'hiddenContentCard': !isCardContentVisible}">

    <hr *ngIf="planTitle" [ngClass]="{'hiddenContentCard': !isCardContentVisible}">
    <app-bupa-quote-product-card-limits
    [hidden]="(planMountLimit.length === 0 && planCoverage.length === 0)"
    [planMountLimit]="planMountLimit"
    [planCoverage]="planCoverage"
    >
    </app-bupa-quote-product-card-limits>

    <app-deductible-mount
      [hidden]="deduciblePlans.length === 0"
      [deductibleMount]="deductibleMount"
      [planId]="planId"
      [planTitle]="planTitle"
      [deduciblePlans]="deduciblePlans"
    ></app-deductible-mount>

    <app-aditional-coverage-options
      [hidden]="aditionalCoverageOptions.length === 0"
      [aditionalCoverageOptions]="aditionalCoverageOptions"
      (toggleCheckboxEvent)="toggleCheckbox($event.event, $event.checkbox)">
    </app-aditional-coverage-options>
  </ion-card-content>

  <app-plan-payment-info
    [ngClass]="{'hiddenContentCard': !isCardContentVisible}"
    [planPaymentPlan]="planPaymentPlan"
    [planPrice]="planPrice"
    [promoPercents]="promoPercents"
    [promoPlanPaymentPlan]="promoPlanPaymentPlan"
    [validDate]="validDate"
    [promoPlanPrice]="promoPlanPrice"
  ></app-plan-payment-info>

  <app-featured-benefits-accordion
    [ngClass]="{'hiddenContentCard': !isCardContentVisible}"
    *ngIf="featuredBenefits.length > 0"
    [featuredBenefits]="featuredBenefits"
  ></app-featured-benefits-accordion>

  <ion-card-content class="card-footer-content ion-padding ion-text-center ion-margin-top" [ngClass]="{'hiddenContentCard': !isCardContentVisible}">
    <ion-button class="ion-text-underline" fill="clear" expand="block">Más iformación</ion-button>
    <app-modal-send-business-plan mode="md" [buttonLabel]="'Enviar cotización'" planId="open-modal-send-plan-{{planId}}"></app-modal-send-business-plan>
    <ion-button shape="solid" mode="ios" color="primary" (click)="selectPlan()">Seleccionar Plan</ion-button>
  </ion-card-content>

  <app-bupa-quote-product-summary-price
    [planPrice]="planPrice"
    [promoPlanPrice]="promoPlanPrice"
    [ngClass]="{'hiddenContentCard': isCardContentVisible}"
  ></app-bupa-quote-product-summary-price>

  <ion-toast
    #toast
    swipe-gesture="vertical"
    icon="information-circle-outline"
    [message]="toastMessage + ': ' + planTitle"
    duration="2000"
    position="top">
  </ion-toast>
</ion-card>
