ion-card {
  --border-radius: 10px;
  --box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  --inner-overflow: visible
}
ion-card-header{
  flex-direction: column;
  padding-bottom: 0px;
}
ion-card-title {
  font-size: 1.5rem;
  color: #2c3e50;
}

ion-card-subtitle {
  font-size: 1rem;
  color: #7f8c8d;
}

ion-card-content p {
  margin-bottom: 0;
  font-size: 1rem;
  color: #34495e;
  &.ion-margin-bottom{
    margin-bottom: 1rem;
  }
}
ion-checkbox {
  --checkbox-background-checked: #0079C8;
  --border-color: #0079C8;
  --border-color-checked: #0079C8;
}
ion-button {
  --border-radius: 5px;
}
.plan-deductible-mount{
  ion-button{
    margin-top: 1rem;
    min-height: 0;
  }
}
ion-modal{
  --height: auto;
}
.aditional-coverage-options{
  ion-item{
    --border-radius: 4px;
    --border-width: 1px;
    margin-bottom: 16px;
    --padding-top: var(--ion-padding, 8px);
    --padding-bottom: var(--ion-padding, 8px);
    --inner-border-width: 0px;
    &:last-child {
      margin-bottom: 0px;
    }
  }
}
::ng-deep .more-plan-deductible-options{
  ion-card{
    --inner-overflow: visible
  }
  ion-list{
    ion-item{
      --padding-start: 0px;
      cursor: default;
      --inner-padding-start: 1rem;
      &:hover{
        color: var(--ion-color-primary)
      }
    }
  }
}
