.plan-ion-toolbar{
  padding: 10px;
}
ion-list.ion-display-flex{
  flex-direction: column;
  @media (min-width: 768px){
    flex-direction: row;
  }
  ion-item{
    flex: 1;
    --inner-padding-top: 1rem;
    --inner-padding-bottom: 1rem;
    --inner-padding-end: 1rem;
    &::part(native){
      height: 100%;
    }
  }
  ion-checkbox{
    .label-text-wrapper {
      text-overflow: initial; /* Cambiar de ellipsis a inicial */
      white-space: normal;    /* Permitir que el texto se envuelva */
      overflow: visible;      /* Evitar que el contenido se oculte */
    }
  }
}
