<ion-content id="main-content" class="main-content-plans">
  <ion-grid fixed="true">

    <ion-toolbar class="plans-toolbar">
      <!-- Botón de volver alineado a la izquierda -->
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/"></ion-back-button>
      </ion-buttons>

      <!-- Título centrado -->
      <ion-title>Cotización de seguro médico internacional</ion-title>
    </ion-toolbar>
    <section class="ion-text-center ion-flex-column ion-margin-bottom ion-display-flex ion-align-items-center plans-header--section" >
      <ion-row>
        <ion-col size="12">
        <h3>Cotización de seguro médico internacional</h3>
          <p>Precio total para todos los asegurados</p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="auto" class="ion-align-self-center">
          <ion-label class="ion-text-end">Forma de pago:</ion-label>
        </ion-col>
        <ion-col size="auto">
          <ion-select mode="md" placeholder="Forma de pago" #paymentWay fill="outline">
            <ion-select-option [value]="'yearly'">Anual</ion-select-option>
          </ion-select>
        </ion-col>
      </ion-row>
    </section>
    <section *ngIf="insuranceScenariosService.isNewBusinessCustomer()
      || insuranceScenariosService.isNewBusinessAgent()
      || insuranceScenariosService.isRenewal()">
      <ion-row>
        <ion-col *ngFor="let plan of plans" size="12" sizeMd="4">
          <app-police-plan-card
            [planId]="plan.planId"
            [planTitle]="plan.planTitle"
            [planSubtitle]="plan.planSubtitle"
            [planDescription]="plan.planDescription"
            [planPrice]="plan.planPrice"
            [planMountLimit]="plan.planMountLimit"
            [planCoverage]="plan.planCoverage"
            [planPaymentPlan]="plan.planPaymentPlan"
            [deductibleMount]="plan.deductibleMount"
            [promoPercents]="plan.promoPercents"
            [promoPlanPaymentPlan]="plan.promoPlanPaymentPlan"
            [validDate]="plan.validDate"
            [promoPlanPrice]="plan.promoPlanPrice"
            [aditionalCoverageOptions]="plan.aditionalCoverageOptions"
            (planSelected)="onPlanSelected($event)">
          </app-police-plan-card>
        </ion-col>
      </ion-row>
    </section>
    <section #moreOptionsSection
      *ngIf="insuranceScenariosService.isNewBusinessCustomer()
      || insuranceScenariosService.isPmiEcuador()
      || insuranceScenariosService.isRenewal()">
      <ion-row class="ion-text-center" *ngIf="!insuranceScenariosService.isPmiEcuador()">
        <ion-col size="12">
          <hr class="ion-margin">
          <h2>¿Necesitas más opciones?</h2>
        </ion-col>
      </ion-row>
      <ion-row class="ion-text-center" *ngIf="insuranceScenariosService.isPmiEcuador()">
        <ion-col size="12">
          <p>Tu producto consiste en 2 opciones de coberturas, Optim&#64; y Suprem&#64;
            y en cada una puedes escoger el módulo hospitalario que mas te convenga,
            consulta <a [routerLink]="['/home']">beneficios completos aquí</a>.</p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-row>
            <ion-col size="12">
              <span #moreOptionsAnchor></span>
              <app-bupa-ion-radio #moreOptions
                [groupDirection]="'column'"
                [groupLabel]="'Seguros Internacionales Premium'"
                [options]="[
                  { label: 'Seguros Internacionales Premium', description: 'Si lo que buscas es un seguro médico completo, con protección premium, cobertura global y acceso a los mejores hospitales, clínicas, doctores y cuidados de salud de EE.UU. y del mundo.', value: '1' },
                  { label: 'Seguro Internacionales', description: 'Si lo que buscas es la mejor cobertura para tus necesidades de cuidados médicos esenciales adaptada a tu cultura, en Latinoamérica, el Caribe y EE.UU.', value: '2' }
                  ]"
                (optionSelected)="onMoreOptionSelected($event)"
                >
              </app-bupa-ion-radio>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <div #moreOptionsFilter *ngIf="(this.moreSelectedOption === '1' && !this.insuranceScenariosService.isPmiEcuador())">
            <p class="ion-text-center">Escoge entre estas opciones y te mostraremos los productos que se adaptan a tus necesidades</p>
            <ion-row class="ion-no-padding">
              <ion-col>
                <ion-list class="ion-display-flex">
                  <ion-item lines="none">
                    <ion-checkbox slot="start"></ion-checkbox>Seguro con Servicio Concierge
                  </ion-item>
                  <ion-item lines="none">
                    <ion-checkbox slot="start"></ion-checkbox>Red abierta (libre elección de proveedores)
                  </ion-item>
                  <ion-item lines="none">
                    <ion-checkbox slot="start"></ion-checkbox>Cobertura de Maternidad
                  </ion-item>
                  <ion-item lines="none">
                    <ion-checkbox slot="start"></ion-checkbox>Cobertura en caso de enfermedades graves o catastróficas sólamente
                  </ion-item>
                </ion-list>
              </ion-col>
            </ion-row>
          </div>
          <ion-row>
            <ion-col *ngFor="let plan of morePlansShowed" size="12" sizeMd="4">
              <app-police-plan-card
                [planId]="plan.planId"
                [planTitle]="plan.planTitle"
                [planSubtitle]="plan.planSubtitle"
                [planDescription]="plan.planDescription"
                [planPrice]="plan.planPrice"
                [planMountLimit]="plan.planMountLimit"
                [planCoverage]="plan.planCoverage"
                [planPaymentPlan]="plan.planPaymentPlan"
                [deductibleMount]="plan.deductibleMount"
                [promoPercents]="plan.promoPercents"
                [promoPlanPaymentPlan]="plan.promoPlanPaymentPlan"
                [validDate]="plan.validDate"
                [promoPlanPrice]="plan.promoPlanPrice"
                [aditionalCoverageOptions]="plan.aditionalCoverageOptions"
                (planSelected)="onPlanSelected($event)">
              </app-police-plan-card>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
    </section>
    <ion-row>
      <ion-col>
       <p>La presente cotización es de carácter informativo, no vinculante y en ningún momento expresa consentimiento ni compromiso legal para suministrarle cobertura de seguro. Las primas del seguro pueden variar al momento de la suscripción de la póliza. La emisión de una póliza de seguro de Bupa está sujeta a todas las evaluaciones de riesgo, a la recepción de toda la información y pagos de prima requeridos.</p>
       <p>Para una cotización más detallada por favor contáctenos.</p>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer mode="ios" translucent="false" *ngIf="selectedCount > 0">
  <ion-toolbar class="ion-text-center plan-ion-toolbar">
    <ion-button
      mode="ios"
      [color]="selectedCount <= 1 ? 'medium' : 'primary'"
      class="full-width auto-width-md"
      [disabled]="selectedCount <= 1"
    > <ion-icon name="git-compare-outline" class="ion-margin-end"></ion-icon>
      {{ selectedCount <= 1 ? ' Seleccione dos o más planes para comparar' : ' Comparar los ' + selectedCount + ' planes seleccionados' }}
    </ion-button>
  </ion-toolbar>
</ion-footer>
