ion-radio-group, ion-item {
  --border-radius: 12px;
  --border-width: 0;
  --border-color: transparent;
  ion-radio{
    max-width: fit-content;
    margin-inline-end: 1rem;
    padding-block-start: 1rem;
  }
}
ion-label h2 {
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  color: #0652AE;
}

ion-label p {
  font-size: 14px;
  color: #6b6b6b;
  margin: 4px 0 0 0;
}

ion-list-header {
  font-size: 18px;
  font-weight: bold;
}
