.bupa-field-output-wrapper{
  position: relative;
  margin-block-end: 0.5rem;
  .bupa-field-output--trigger{
    position: relative;
    top: -0.75rem;
  }
}
ion-label {
  display: block;

  &.strong {
    font-weight: bold;
  }

  &.primary {
    color: var(--ion-color-primary);
  }

  &.secondary {
    color: var(--ion-color-secondary);
  }
}
ion-popover{
  &.ion-no-border-radius{
    &::part(content){
      border: none;
      border-radius: 0px !important;
    }
    &::part(arrow)::after{
      border-radius: 0px !important;
      top: 5px;
    }
  }
  *{--color: white;}
  --background: #5a5e61;
  --max-width: 600px;
  --max-height: 150px;
  --width: fit-content;
  /* ::part(scroll){
    --border-radius: 0px;
  } */
  ::part(background){
    background-color:transparent;
    color: initial;
  }
}
