<div class="bupa-field-output-wrapper" [ngClass]="{'bupa-field-output--info ion-display-flex ion-align-items-start': infoText}">

  <article>
    <ion-label color="medium">{{ label }}</ion-label>
    <ng-container *ngIf="!isEmptyValue; else emptyTemplate">
      <ion-label *ngFor="let val of value; let i = index" [ngClass]="fieldStyle">
        {{ val }}
      </ion-label>
    </ng-container>
    <ng-template #emptyTemplate>
      <ion-label>--</ion-label>
    </ng-template>
  </article>

  <ion-button fill="clear" shape="round" *ngIf="infoText" mode="ios" [id]="normalizeLabel(label) + '-trigger'" class="bupa-field-output--trigger">
    <ion-icon #help_icon slot="icon-only"  name="information-circle-outline"></ion-icon>
  </ion-button>

  <ion-popover
  *ngIf="infoText"
    mode="ios"
    [trigger]="normalizeLabel(label) + '-trigger'"
    triggerAction="hover"
    [keepContentsMounted]="true"
    class="ion-no-border-radius"
    focus-trap="false"
    (keydown)="onKeydown($event)"
    >
    <ng-template>
      <ion-content class="ion-padding">{{infoText}}</ion-content>
    </ng-template>
  </ion-popover>

</div>
