<ion-header mode="md">
  <ion-grid fixed="true" class="custom-fixed-grid renewal-background-header bupa-padding-0">
    <ion-toolbar class="renewal-toolbar">
      <!-- Botón de volver alineado a la izquierda -->
      <ion-buttons slot="start">
        <ion-back-button color="primary" defaultHref="/"></ion-back-button>
      </ion-buttons>
      <ion-title>
        Categoría tal
      </ion-title>
    </ion-toolbar>
  </ion-grid>
</ion-header>
<ion-content>
  <section class="hero">
    <ion-grid fixed="true" class="custom-fixed-grid">
      <ion-row style="display:flex">
        <ion-col class="hero-column-avatar" size="12" sizeSm="auto">
          <img src="https://placehold.co/200x200" alt="Subcategoría" class="hero-image" />
        </ion-col>
        <ion-col class="hero-column-description" size="12" sizeSm="">
        <p>Cuando hablamos de tener una dieta saludable, hablamos de aquella que nos aporta todos los alimentos necesarios para cubrir nuestras necesidades nutricionales, esto no significa tener que llevar una dieta baja en calorías, significa comer todo tipo de alimentos, en su justa medida. Según en la etapa de la vida en la que nos encontremos y el estilo de vida que llevemos, nuestras necesidades nutricionales serán distintas.
        </p>
        <p>En ocasiones, por nuestro estilo de vida, pensamos que es más complicado mantener una dieta saludable y equilibrada, en esta sección encontrarás contenidos que te ayudarán a mantener una dieta equilibrada tanto en casa como fuera de ella.</p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </section>

  <ion-grid fixed="true" class="custom-fixed-grid">
    <h3>Listado de reproducción</h3>
    <ion-row>
      <ion-col
        *ngFor="let audio of audioList"
        size="12"
        size-md="6"
        size-lg="3"
        [ngClass]="{'playing': audio.url === currentAudio.url}"
      >
        <div tabindex="0" class="audio-card" role="button"
        (click)="playAudio(audio)" (keydown)="handleKeydown($event, audio)"
        [attr.aria-pressed]="audio.url === currentAudio.url ? 'true' : 'false'">
          <img [src]="audio.image" alt="{{audio.title}}" class="audio-image" />
          <div class="audio-details">
            <h3>{{ audio.title }}</h3>
          </div>
          <ion-icon
            size="large"
            [name]="audio.url === currentAudio.url
                    ? (currentAudio.isPlaying ? 'pause-circle-outline' : 'play-circle-outline')
                    : 'play-circle-outline'"
            class="play-icon">
          </ion-icon>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer [class]="browserClass" mode="ios" *ngIf="currentAudio.url">
  <ion-grid class="custom-fixed-grid">
    <ion-row>
      <ion-col>
        <div class="footer-player">
          <ion-img [src]="currentAudio.image" class="player-image"></ion-img>
          <div class="player-info">
            <h4>{{ currentAudio.title }}</h4>
            <p hidden>{{ currentAudio.category }}</p>
          </div>
          <audio #audioPlayer controls autoplay [src]="currentAudio.url"></audio>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>
