#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

.custom-grid {
  border: 1px solid #ccc; /* Borde exterior del grid */
  border-radius: 5px; /* Bordes redondeados */
  padding: 0;
}

.custom-row {
  border-bottom: 1px solid #ccc; /* Borde inferior de cada fila */
}

.custom-row:last-child {
  border-bottom: none; /* Quitar el borde en la última fila */
}

/* Efecto zebra: Estilo para filas pares */
.custom-row:nth-child(even) {
  background-color: #f8f8f8; /* Color de fondo para filas pares */
}

/* Borde interno de las celdas */
.custom-row > ion-col {
  border-right: 1px solid #ccc;
  padding: 8px; /* Espaciado interno de las celdas */
}

.custom-row > ion-col:last-child {
  border-right: none; /* Quitar el borde derecho en la última celda */
}

.plan-ion-toolbar{
  padding: 10px;
}
