<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-menu content-id="main-content">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Menú</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <ion-item routerLink="/international-business-quote" routerDirection="forward">
        <ion-label>New International Business</ion-label>
      </ion-item>
      <ion-item routerLink="/new-local-business" routerDirection="forward">
        <ion-label>New Local Business</ion-label>
      </ion-item>
      <ion-item routerLink="/renewal" routerDirection="forward">
        <ion-label>Renewals</ion-label>
      </ion-item>
      <ion-item routerLink="/new-policy" routerDirection="forward">
        <ion-label>New Policies</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>


<ion-content id="main-content">

</ion-content>
