<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content id="main-content">
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-md="6" size-lg="3">
        <ion-card (click)="navigate('business-quote', 'customer')" button>
          <ion-card-header>
            <ion-icon size="large" name="business-outline"></ion-icon>
            <ion-card-title>New International Business</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            This option allows you to create a new international business case for a customer.
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size="12" size-md="6" size-lg="3">
        <ion-card (click)="navigate('business-quote', 'pmiecuador')" button>
          <ion-card-header>
            <ion-icon size="large" name="earth-outline"></ion-icon>
            <ion-card-title>New Local Business</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            This option lets you create a new business case for a local Ecuadorian market.
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size="12" size-md="6" size-lg="3">
        <ion-card (click)="navigate('business-quote', 'renewal')" button>
          <ion-card-header>
            <ion-icon size="large" name="refresh-circle-outline"></ion-icon>
            <ion-card-title>Renewals</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Use this option to manage policy renewals for existing customers.
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size="12" size-md="6" size-lg="3">
        <ion-card (click)="navigate('business-renewal-quote', 'renewal_quote')" button>
          <ion-card-header>
            <ion-icon size="large" name="refresh-circle-outline"></ion-icon>
            <ion-card-title>Renewals quote</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Use this option to manage policy renewals quote for existing customers.
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size="12" size-md="6" size-lg="3">
        <ion-card (click)="navigate('business-quote', 'agent')" button>
          <ion-card-header>
            <ion-icon size="large" name="person-outline"></ion-icon>
            <ion-card-title>New Policies (Agent)</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Create new policies as an agent for different clients.
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
