ion-modal{
  --width: 720px;
  --height: 90%;
  ion-header{
    ion-icon {
      color: var(--primary-color);
    }
  }
  .input-fill-outline.sc-ion-input-md-h{
    min-height: 48px;
  }
  ion-item{
    --background-activated: transparent;
  }
}
ion-radio-group.contactOptionsRadioGroup{
  margin-block-end: 1rem;
  display: inline-block;
  ion-radio::part(label){
    margin-inline: 0.5rem 0;
  }
}
.modal-send-plan--terms{
  height: 130px;
  border: 1px solid #DDE1E6;
  border-radius: 4px;
  overflow: hidden;
}
