<ion-button id="openModalButton-{{planId}}" class="ion-text-underline ion-text-lowercase ion-text-capitalize" fill="clear" expand="block">
  {{buttonLabel}}
</ion-button>
<ion-modal
  backdropDismiss="true"
  [presentingElement]="presentingElement"
  #modalSendPlan
  show-backdrop="true"
  trigger="openModalButton-{{planId}}"
  [canDismiss]="canDismiss"
  (ionModalDidDismiss)="resetModalData()"
  >
  <ng-template>
    <ion-header class="ion-no-border">
      <ion-toolbar>
        <ion-title class="ion-hide">Enviar cotización de este plan</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="modalSendPlan.dismiss()" class="btn-toogle" aria-label="Cerrar formulario de enviar cotización"><ion-icon color="primary" size="large" aria-hidden="true" name="close-outline"></ion-icon></ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>

    <ion-content class="ion-padding-horizontal">
      <!-- Imagen en la parte superior -->
      <img src="assets/images/send-plan-header.png" alt="Imagen de referencia" style="width: 100%; max-height: 200px; object-fit: cover;">
      <h4 class="ion-text-center ion-margin-top ion-margin-bottom">Enviar cotización</h4>
      <!-- Campos de Nombre, Apellido y Email -->
      <ion-grid>
        <ion-row>
          <ion-col size="12" sizeMd="6">
            <ion-input
              mode="md"
              label="Nombre(s) del titular"
              label-placement="floating"
              fill="outline">
            </ion-input>
          </ion-col>
          <ion-col size="12" sizeMd="6">
            <ion-input
              mode="md"
              label="Apellido(s) del titular"
              label-placement="floating"
              fill="outline">
            </ion-input>
          </ion-col>
          <ion-col size="12" sizeMd="6">
            <ion-input
              mode="md"
              label="Correo electrónico"
              label-placement="floating"
              fill="outline">
            </ion-input>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <!-- Checkbox para habilitar contacto -->
            <ion-checkbox class="ion-margin-vertical" (ionChange)="showContactOptionsToogle()" labelPlacement="end" justify="start">Quiero me contacten para recibir información (Opcional).</ion-checkbox>
          </ion-col>
        </ion-row>
        <ion-row *ngIf="this.showContactOptions">
          <ion-col>
            <ion-radio-group (ionChange)="showSelectedContactOptionsChange($event)" #contactOptionsRadioGroup class="contactOptionsRadioGroup" mode="md">
              <ion-radio class="ion-margin-end" slot="start" labelPlacement="end" value="phone">Telefónicamente</ion-radio>
              <ion-radio slot="end" labelPlacement="end" value="email">Correo electrónico</ion-radio>
            </ion-radio-group>
          </ion-col>
        </ion-row>
        <ion-row *ngIf="this.showContactOptions && selectedContactOption === 'phone'">
          <ion-col>
            <!-- Input para teléfono (solo visible si se elige "Por teléfono") -->
            <ion-input mode="md"
            label="Número de teléfono"
            label-placement="floating"
            fill="outline" placeholder="Número de teléfono"></ion-input>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <!-- Términos y condiciones -->
            <ion-text>
              <ion-content #termsAndConditions class="modal-send-plan--terms ion-padding">
                Desde Bupa Global Latinoamérica, cumplimos con la Ley Orgánica de Protección de Datos Personales y otras normativas aplicables, en el uso de sus datos personales...  Desde Bupa Global Latinoamérica, cumplimos con la Ley Orgánica de Protección de Datos Personales y otras normativas aplicables, en el uso de sus datos personales...  Desde Bupa Global Latinoamérica, cumplimos con la Ley Orgánica de Protección de Datos Personales y otras normativas aplicables, en el uso de sus datos personales...  </ion-content>
            </ion-text>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-content>

    <!-- Botón de enviar en el footer -->
    <ion-footer>
      <ion-toolbar class="ion-text-center">
        <ion-button class="ion-margin" color="secondary" mode="ios" (click)="modalSendPlan.dismiss()">Enviar</ion-button>
      </ion-toolbar>
    </ion-footer>
  </ng-template>
</ion-modal>
